.feedback-page {
	// .feedback-page__container
	&__container {
	}
	// .feedback-page__cards
	&__cards {
		margin: 0 auto;
		@media (max-width: $mobile) {
			margin: 0;
			width: 100% !important;
		}
	}
	// .feedback-page__block
	&__block {
		padding-top: rem(136);
		@include adaptiveValue("padding-top", 136, 72, 3, 1440, 375);
		padding-bottom: rem(104);
	}
}
.feedback {
	// .feedback__card
	&__card {
		max-width: rem(360);
		width: 100%;
		@media (max-width: $mobile) {
			max-width: 100% !important;
		}
	}
}
